<body id="top"> 
<header class="header">

    
        <div class="header-bottom" data-header>
            <div class="container">
      
              <a href="#" class="logo">Dr WB.</a>
      
              <nav class="navbar container" data-navbar>
                <ul class="navbar-list">
      
                  <li>
                    <a href="#home" class="navbar-link" data-nav-link>Home</a>
                  </li>
      
                  <li>
                    <a href="#service" class="navbar-link" data-nav-link>Services</a>
                  </li>
      
                  <li>
                    <a href="#about" class="navbar-link" data-nav-link>About Us</a>
                  </li>
      
                  <li>
                    <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
                  </li>
      
                  <li>
                    <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
                  </li>
      
                </ul>
              </nav>
      
              
      
              <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
                  <i class="bi bi-list" name="menu-sharp" aria-hidden="true"></i>
                  <i class="bi bi-x" name="close-sharp" aria-hidden="true"></i>
               
              </button>
      
            </div>
          </div>


 

  </header>
</body>