:root {
  --light-gray: #ccc;
  --radius-4: 4px;
  --fs-6: 16px;
  --oxford-blue-1: #001f3f;
  --oxford-blue-2: #003d6f;
  /* Ajoutez d'autres variables ici */
}

.container {
  padding-inline: 25px;
}

.section {
  padding-block: var(--section-padding);
}

.section-subtitle {
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  margin-block-end: 10px;
}

.h1, .h2, .h3 {
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h1 {
  color: var(--oxford-blue-1);
  font-size: var(--fs-2);
}

.h2, .h3 {
  color: var(--oxford-blue-2);
}

.h2 {
  font-size: var(--fs-1);
}

.h3 {
  font-size: var(--fs-5);
}

.btn {
  background-image: linear-gradient(var(--deg, 90deg), var(--carolina-blue) 0%, var(--royal-blue-light) 100%);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);
}

.btn:is(:hover, :focus) {
  --deg: -90deg;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.card-text, .section-text {
  line-height: 1.7;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}










@media (min-width: 768px) {

 

  :root {

   
    --fs-2: 4.8rem;

  }




  body { font-size: 1.6rem; }




  .container { max-width: 750px; }

  .section-subtitle { --fs-6: 2.2rem; }


  .hero { overflow: hidden; }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    align-items: center;
    gap: 20px;
  }

  .hero-content { margin-block-end: 0; }

  .hero-form { position: relative; }

  .hero-form .email-field {
    margin-block-end: 0;
    padding-inline-end: 190px;
  }

  .hero-form .btn {
    width: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
  }

  .hero-banner { margin-inline-end: -60px; }

  .service-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }


  .scrollbar-item { min-width: calc(50% - 15px); }



  .cta { padding-block: 0; }

  .cta .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 60px;
  }

  .cta-banner { margin-block-end: 0; }

  .cta-content { padding-block: 60px; }



  .blog-list { grid-template-columns: 1fr 1fr; }


  .footer-bottom { padding-block: 30px; }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright { margin-block-end: 0; }



  .back-top-btn {
    bottom: 70px;
    right: 50px;
  }

}



@media (min-width: 992px) {

 

  :root {

  
    --fs-2: 6rem;
    --fs-1: 4.6rem;
    --fs-3: 4.6rem;

  }


  .container { max-width: 980px; }






  .service-list { grid-template-columns: repeat(3, 1fr); }

  .service-banner {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    align-self: center;
  }


  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .about-banner { margin-block-end: 0; }


  .scrollbar-item { min-width: calc(33.33% - 20px); }



  .cta-content { padding-block: 80px; }




  .blog-list { grid-template-columns: repeat(3, 1fr); }



  .footer-top .container { grid-template-columns: 1fr 0.5fr 0.6fr 0.75fr; }

}


@media (min-width: 1200px) {

 

  :root {

  

    --fs-2: 8rem;
    --fs-1: 5.5rem;
    --fs-3: 4.8rem;

  }


  .container { max-width: 1180px; }

  .contact-list { gap: 30px; }

  .header-bottom .btn { padding: 18px 30px; }

  .header-bottom > .container { gap: 40px; }



  .about .container {
    grid-template-columns: 0.85fr 1fr;
    gap: 100px;
  }



  .doctor { padding-block-end: 180px; }

  .scrollbar-item { min-width: calc(25% - 22.5px); }

  .has-scrollbar {
    padding-block-end: 0;
    margin-block-end: 0;
  }


  .cta .container { align-items: center; }

  .cta-banner { margin-block-start: -120px; }

}

#contact {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.form-control {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea.form-control {
  resize: vertical; 
}

.btn-submit {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3; /* Changement de couleur au survol */
}

/* Style pour le texte en haut du formulaire */
.contact-head {
  margin-bottom: 20px;
}

.contact-head h3 {
  font-size: 24px;
  font-weight: bold;
}

.contact-head p {
  font-size: 16px;
  color: #555;
}

