
<app-nav></app-nav>
<body id="top">
<main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" style="background-image: url('./assets/images/hero-bg.png')"
        aria-label="hero">
        <div class="container">

          <div class="hero-content">

            <p class="section-subtitle">Welcome To Dental Service</p>

            <h1 class="h1 hero-title">We Are Best Dental Service</h1>

            <p class="hero-text">
                We care for your dental health by providing specialized services in ORTHODONTICS and dento-facial orthopedics, 
                including the use of dental appliances to give you a radiant smile and improved oral health.
            </p>

            <form action="" class="hero-form">
              <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control"/>
              <button type="submit" class="btn" style="height: 65px; margin-top:10px" > Appointment </button>

            
            </form>
            
          </div>

          <figure class="hero-banner">
            <img src="./assets/images/hero-banner.png" width="587" height="839" alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" aria-label="service">
        <div class="container">

          <p class="section-subtitle text-center">Our Services</p>

          <h2 class="h2 section-title text-center">What We Provide</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-1.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Root Canal</h3>

                  <p class="card-text">
                    Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-2.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Alignment Teeth</h3>

                  <p class="card-text">
                    Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-3.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Cosmetic Teeth</h3>

                  <p class="card-text">
                    Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                  </p>
                </div>

              </div>
            </li>

            <li class="service-banner">
              <figure>
                <img src="./assets/images/service-banner.png" width="409" height="467" loading="lazy"
                  alt="service banner" class="w-100">
              </figure>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-4.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Oral Hygiene</h3>

                  <p class="card-text">
                    Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-5.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Live Advisory</h3>

                  <p class="card-text">
                    Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-6.png" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Cavity Inspection</h3>

                  <p class="card-text">
                    Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner">
            <img src="./assets/images/about-banner.png" width="470" height="538" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">We Care For Your Smile</h2>

           
              <p class="section-text">
                At our clinic, we are dedicated to enhancing your dental health and your smile. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis volutpat est, sed dapibus sapien. Cras condimentum eu velit id tempor. Curabitur purus sapien, cursus sed nisl tristique, commodo vehicula arcu.
              </p>
              <p class="section-text">
                We understand the importance of a beautiful and healthy smile. Our team of experts specializes in various dental treatments to ensure you have the best care. Aliquam erat volutpat. Aliquam enim massa, sagittis blandit ex mattis, ultricies posuere sapien. Morbi a dignissim enim. Fusce elementum, augue in elementum porta, sapien nunc volutpat ex, a accumsan nunc lectus eu lectus.
              </p>

            <a href="#" class="btn">Read more</a>

          </div>

        </div>
      </section>





      <!-- 
        - #DOCTOR
      -->

      <section class="section doctor" aria-label="doctor">
        
      </section>





      <!-- 
        - #CTA
      -->

      <section class="section cta" aria-label="cta">
        <div class="container">

          <figure class="cta-banner">
            <img src="./assets/images/cta-banner.png" width="1056" height="1076" loading="lazy" alt="cta banner"
              class="w-100">
          </figure>

          <div class="cta-content">

            <p class="section-subtitle">Dr Wael BARGAOUI </p>

            <h2 class="h4 " style="color: aliceblue;"> Specialist in ORTHODONTICS and dento-facial orthopedics. Graduated from the Faculty of Dentistry in Monastir.</h2>

            <a href="#" class="btn" style="margin-top: 10px"> Book your appointment</a>

          </div>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->

      <section class="section blog" id="blog" aria-label="blog">
        <div class="container">

          <p class="section-subtitle text-center">Our Blog</p>

          <h2 class="h2 section-title text-center">Latest Blog & News</h2>

          <ul class="blog-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
                  <img src="./assets/images/blog-1.jpg" width="1180" height="800" loading="lazy"
                    alt="Cras accumsan nulla nec lacus ultricies placerat." class="img-cover">

                  <div class="card-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"style="margin-top: 4px;" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                      </svg>
                    <time class="time" datetime="2022-03-24">24th March 2022</time>
                  </div>
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Cras accumsan nulla nec lacus ultricies placerat.</a>
                  </h3>

                  <p class="card-text">
                    Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.
                  </p>

                  <a href="#" class="card-link">Read More</a>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
                  <img src="./assets/images/blog-2.jpg" width="1180" height="800" loading="lazy"
                    alt="Dras accumsan nulla nec lacus ultricies placerat." class="img-cover">

                  <div class="card-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"style="margin-top: 4px;" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                      </svg>

                    <time class="time" datetime="2022-03-24">24th March 2022</time>
                  </div>
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Dras accumsan nulla nec lacus ultricies placerat.</a>
                  </h3>

                  <p class="card-text">
                    Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.
                  </p>

                  <a href="#" class="card-link">Read More</a>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
                  <img src="./assets/images/blog-3.jpg" width="1180" height="800" loading="lazy"
                    alt="Seas accumsan nulla nec lacus ultricies placerat." class="img-cover">

                  <div class="card-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"style="margin-top: 4px;" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                      </svg>

                    <time class="time" datetime="2022-03-24">24th March 2022</time>
                  </div>
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Seas accumsan nulla nec lacus ultricies placerat.</a>
                  </h3>

                  <p class="card-text">
                    Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.
                  </p>

                  <a href="#" class="card-link">Read More</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

        <section>
            
            <div class="container" id="contact" aria-label="contact">
                <p class="section-subtitle text-center"> CONTACT </p>
                <div class="contact-right text-white text-center bg-blue">
                 
                  <form>
                    <div class="form-element">
                      <input type="text" class="form-control" placeholder="Your name">
                    </div>
                    <div class="form-element">
                      <input type="email" class="form-control" placeholder="Your email">
                    </div>
                    <div class="form-element">
                      <textarea rows="5" placeholder="Your Message" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-white btn-submit">
                      <i class="fas fa-arrow-right"></i> Send Message
                    </button>
                  </form>
                </div>
              </div>
         
          </section>
 


    </article>
  </main>


</body>